<style>
    body{background-image: url("assets/images/back.jpg");}
</style>
<body>
<div style="width: 100%;height: auto;">
    <p style="margin-left:55px;margin-right: auto;margin-top: 40px;color: white;font-size: 140%;"><b>Fill this we will get back to you soon</b></p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdK9YiQ6e903eNP9D7JV3opgbMFpx7p5vHX2r1XajEz2oiFjg/viewform?embedded=true"   class="embed-responsive-item" frameborder="0" marginheight="0" marginwidth="0" height="1500px" width="100%">Loading...</iframe>   </di>

</body>