<style>
    body{background-image: url("assets/images/back.jpg");}
</style>
<body>
<div style="width: 100%;height: auto;">
    <p style="margin-left:55px;margin-right: auto;margin-top: 40px;color: white;font-size: 140%;"><b>Fill this we will get back to you soon</b></p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdK9YiQ6e903eNP9D7JV3opgbMFpx7p5vHX2r1XajEz2oiFjg/viewform?embedded=true"   class="embed-responsive-item" frameborder="0" marginheight="0" marginwidth="0" height="1500px" width="100%">Loading...</iframe>   </di>

    <div class="navbar-fixed-bottom">
        <footer class="w3-container w3-teal w3-center w3-margin-top"  style="background-color:  #122b40!!important;">
            <a href="https://www.facebook.com/abhinav3006gupta" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
            <a href="https://www.instagram.com/abhinav_qp/" target="_blank"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
            <a href="https://www.snapchat.com/add/abhinav3006gu" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
            <a href="https://twitter.com/Abhi_now3006" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/abhinav-gupta-774a3512a/"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
            <a  ng-click="register.routechan();" ><i><b>webbern</b></i></a>

        </footer>
    </div>
</body>