<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
    <link rel="stylesheet" type="text/css" href="assets/css/sample.css">

    <style>.diffuse-light{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:0;font:normal 22px/normal "Comic Sans MS",cursive,sans-serif;color:rgba(255,255,255,1);text-align:center;-o-text-overflow:clip;text-overflow:clip;text-shadow:0 15px 29px rgba(0,0,0,0.0980392),10px 20px 5px rgba(0,0,0,0.0470588),-10px 20px 5px rgba(0,0,0,0.0470588);-webkit-transition:all 200ms cubic-bezier(0.42,0,0.58,1) 10ms;-moz-transition:all 200ms cubic-bezier(0.42,0,0.58,1) 10ms;-o-transition:all 200ms cubic-bezier(0.42,0,0.58,1) 10ms;transition:all 200ms cubic-bezier(0.42,0,0.58,1) 10ms}.diffuse-light:hover{font:normal 23px/normal Verdana,Geneva,sans-serif;text-shadow:0 -15px 29px rgba(0,0,0,0.0980392),10px -20px 5px rgba(0,0,0,0.0470588),-10px -20px 5px rgba(0,0,0,0.0470588)}</style>
    <link async href="http://fonts.googleapis.com/css?family=Questrial" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="abc">
    <div class="area" style="width:100%;height:210px;line-height:.97;margin-top:30px">{{register.wishtype}}</div>
    <div style="width:100%;height:330px;margin-top:-60px">
        <div style="margin:0 auto;text-align:center">
            <div class="diffuse-light">{{register.wishmsg}} - {{register.uname}}</div>
        </div>
    </div>
    <div ng-show="register.loadmsg" style="margin-top:-70px;text-align:center">
        <button class="button" style="margin-left:auto;margin-right:auto;text-align:center;background-color:#f39c12;color:black;border-color:#2c3e50" ng-click="register.routechange();">
            <h3><b>Click to create wish</b></h3>
        </button>
    </div>
    <div ng-show="!register.loadmsg" style="margin-top:-250px;padding-bottom:100px;text-align:center">
        <button class="button"  style="margin-left:auto;margin-right:auto;text-align:center;background-color:#f39c12;color:black;border-color:#2c3e50" ng-click="register.mupdate();" onclick='responsiveVoice.speak("Happy Dusshera in Advance");' type='button' value='🔊 Play' >
            <h2><b>Click Here To See</b></h2>
        </button>
    </div>
    <div class="pattern0 fireworks fire0">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern1 fireworks fire1">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern2 fireworks fire2">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern3 fireworks fire3">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern4 fireworks fire4">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern5 fireworks fire5">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern6 fireworks fire6">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern7 fireworks fire7">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern8 fireworks fire8">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern9 fireworks fire9">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern10 fireworks fire10">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern11 fireworks fire11">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern12 fireworks fire12">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern13 fireworks fire13">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern14 fireworks fire14">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern15 fireworks fire15">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern16 fireworks fire16">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern17 fireworks fire17">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern18 fireworks fire18">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="pattern19 fireworks fire19">
        <div class="ring_1"></div>
        <div class="ring_2"></div>
    </div>
    <div class="navbar-fixed-bottom">
        <footer class="w3-container w3-teal w3-center w3-margin-top" style="background-color:#122b40!!important">
            <a href="https://www.facebook.com/abhinav3006gupta" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
            <a href="https://www.instagram.com/abhinav_qp/" target="_blank"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
            <a href="https://www.snapchat.com/add/abhinav3006gu" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
            <a href="https://twitter.com/Abhi_now3006" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
            <a href="https://www.linkedin.com/in/abhinav-gupta-774a3512a/"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
            <a ng-click="register.routechan();"><i><b>webbern</b></i></a>
            <a style="float:right" ng-show="register.loadmsg"><b>{{register.uname}}:<i>{{register.views_num}}</b></i></a>
        </footer>
    </div>
</body>
</html>