<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="money.css>
    <title>Title</title>
</head>
<body>
    <div id = "container">
            <div id = "wrap">
                <div id  = "text">
                    <h1>Sample text</h1>
                </div>
                
               <div id = "message">
                <p>sample text sample text sample text sample text</p>
                </div>
                <div id = "image-down">
                
                </div>
                <div id = "dollar">
                
                </div>
                <div id = "coin-flip" class = "f"></div>
                <div id = "coin-flipp" class = "f"></div>
                <div id = "coin-flip-2" class = "f"></div>
                <div id = "coin-flip-3" class = "f"></div>
                <div id = "coin-flip-4" class = "f"></div>
            </div>
            </div>
</body>
</html>
