
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/type7.css">
</head>
<body>
<div id = "container12">
    <div id = "wrap12">

        <div id  = "text12">
            <h1 style="margin-left:auto;margin-right:auto;">Happy Dhanteras</h1>
        </div>

        <div id = "message12">
            <h6 style="font-size:20px;"><b>Sone ka rath, chaandi ki paalki baithkar jismein hain Maa Lakshmi aayi dene aapko aur aapke poore parivar ko Dhanteras ki badhaai...!!      <span style="color:#ffff00">-WEBBERN</span></b></h6>
        </div>


        <div id = "image-down1">
            <img src="assets/images/laxmi.png">
        </div>


        <div id="shine"></div>
        <div id = "coin-flip" class = "f"></div>
        <div id = "coin-flipp" class = "f"></div>
        <div id = "coin-flip-1" class = "f"></div>
        <div id = "coin-flip-2" class = "f"></div>
    </div>
</div>

<div class="navbar-fixed-bottom">

    <div  style="text-align:center;margin-top: -50px;" >
        <button class="button" style="margin-left:auto;margin-right:auto;text-align:center;background-color:#f39c12;color:black;border-color:#2c3e50" ng-click="register.routechange();">
            <h3><b>Click to create wish</b></h3>
        </button>
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top" style="background-color:#122b40!!important">
        <a href="https://www.facebook.com/abhinav3006gupta" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/abhinav_qp/" target="_blank"> <i class="fa fa-instagram w3-hover-opacity"></i></a>
        <a href="https://www.snapchat.com/add/abhinav3006gu" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
        <a href="https://twitter.com/Abhi_now3006" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/abhinav-gupta-774a3512a/"> <i class="fa fa-linkedin w3-hover-opacity"></i></a>
        <a ng-click="register.routechan();"><i><b>webbern</b></i></a>

    </footer>
</div>

</body>
</html>
