body{
    font-family: "Arial",Helvetica,sans-serif;
    font-weight: normal;
}
#container12{

    margin: auto;
    width: 800px;
    height: 600px;
    background:url(../images/background.jpg);
    background-size: cover;
    display: block;
    box-shadow: 0px 15px 30px gray;
    border: 1px solid transparent;


}
@media only screen and (max-width:500px), screen and (max-height:500px){

    #container12{
        width: 100%;
        height: 500px;

    }
}
#wrap12{

    width: 80%;
    height: 90%;
    position: relative;
    top: 5%;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 2px 20px 30px black;
    background: url(../images/bag.png);
    background-position: right;
    background-repeat: no-repeat;



}
@media only screen and (max-width:500px), screen and (max-height:500px){

    #wrap12{
        width: 95%;
        height: 85%;
    }
}
#text12{
    margin: auto;
    display: block;
    border: 1px solid transparent;
    text-align: center;
    width: 300px;
    color:white;
    text-shadow: 0 2px 20px black;
    box-shadow: 5px 15px 10px gray;
    background-position: right;
    animation-name: rotate;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    background:url("message-bag.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: bisque;
}
@media only screen and (max-width:500px), screen and (max-height:500px){

    #text12{
        width: 50%;
        height: auto;

    }
}
#message12{
    display: flex;
    position: relative;
    top:1%;
    width: 100%;
    height: 80%;
    background-size: contain;
    text-align: center;
    font-size: 25px;
    color: white;
    text-shadow: 10px 2px 20px black;





}
@media only screen and (max-width:500px), screen and (max-height:500px){

    #message12{
        text-align: center;
        height: 80%;
        width: 100%;
    }
}
#image-down{

    width: 100%;
    height: 20%;
    margin: auto;
    position: absolute;
    top: 80%;
    display: block;


}
@media only screen and (max-width:500px), screen and (max-height:500px){

    #image-down{

        width: 100%;
        height: 20%;
        background-position: left;
        background-size: contain;
        position:relative;
        top: -18%;


    }
}
@keyframes smile{
    from{background:url(../images/dollar-bill.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    to{background:url(../images/dollar-bill-smile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
#dollar{

    width: 70%;
    height: 30%;
    position: absolute;
    left: 10%;
    bottom: 1%;
    animation-name: smile;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    transform: rotate(-5deg);
    animation-direction: alternate-reverse;

}
@media only screen and (max-width:500px), screen and (max-height:500px){
    #dollar{
        width:90%;
        height:20%;
        position: relative;
        top: -40%;
        right: 100%;

    }

}
@keyframes rotate{
    from{
        transform: rotate(20deg);

    }
    to{
        transform: rotate(-20deg);
    }
}
.f{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffe559;
    animation-name: flip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    box-shadow: 0 0px 10px black;

}
@keyframes flip{

    from{
        bottom: 90%;
        transform: rotateX(180deg);
        visibility: visible;



    }
    to{
        bottom:10%;
        transform: rotateX(-90deg);


    }
}

#coin-flip{

    position: absolute;
    bottom: 70%;
    left: 75%;
}


#coin-flipp{

    position: absolute;
    bottom: 85%;
    left: 65%;
    animation-delay: 1s;
    visibility: hidden;

}
#coin-flip-2{
    position: absolute;
    bottom: 85%;
    left: 55%;
    animation-delay: 2s;
    visibility: hidden;
}
#coin-flip-3{
    position: relative;
    bottom: 85%;
    left: 45%;
    animation-delay: 3s;
    visibility:hidden;
}
#coin-flip-4{
    position: relative;
    bottom: 70%;
    left: 35%;
    animation-delay: 0.7s;
    visibility: hidden;
}
@keyframes flip-flop{

    from{
        bottom: 80%;
        transform: rotateX(180deg);
        visibility: visible;



    }
    to{
        bottom:40%;
        transform: rotateX(-90deg);


    }
}
@media only screen and (max-width:500px), screen and (max-height:500px){
    .f{
        width:30px;
        height:30px;
        position: absolute;
        bottom: 60%;
        animation-name:flip-flop;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    #coin-flip-3{
        position: absolute;
        bottom: 50%;

    }
    #coin-flip-4{
        position: absolute;
        bottom: 55%;
    }
}

